<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ruzil Sharifullin app</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
</head>
<body>


<!--README MODAL-->
<div class="modal fade" id="readme" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">About the application</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <h5>This is a CRUD web application for tracking food intake. You can see meal records red or green color based on the daily calories limit: If sum of daily food intake exceeds the set limit then meal records are red otherwise they're green. By default the limit is 2000 but you can set your own and see different output. Also you can filter the records by date and time. The source code is available through the link below: <a href="https://github.com/Ruzil1991/calories-management" target="_blank">https://github.com/Ruzil1991/calories-management</a></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--USER PROFILE MODAL-->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">About the app</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="userValidation" th:action="@{/profile}" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <label>Daily calorie limit</label>
                        <input type="number" id="dailyCalorieLimit" name="dailyCalorieLimit" class="form-control" th:value="${user.dailyCalorieLimit}"></span></td>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- CREATE MODAL -->
<div class="modal fade" id="mealaddmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create meal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="creationValidation" th:action="@{/save}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Data/Time</label>
                        <input type="datetime-local" name="localDateTime" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text"  name="description" class="form-control" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <label>Calories</label>
                        <input type="number" name="calories" class="form-control" placeholder="Calories">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" name="savemeal" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--##################################################################################################################-->
<!-- EDIT MODAL -->
<div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit meal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="editValidForm" th:action="@{/save}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="id" id="update_id">
                        <label>Data/Time</label>
                        <input type="datetime-local" name="localDateTime" id="localDateTime" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" name="description" id="description" class="form-control"
                               placeholder="Description">
                    </div>
                    <div class="form-group">
                        <label>Calories</label>
                        <input type="number" name="calories" id="calories" class="form-control" placeholder="Calories">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" name="savemeal" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--######################################################################################################################-->

<!-- DELETE MODAL -->
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form th:action="@{/delete}" method="get">
                <div class="modal-body">

                    <input type="hidden" name="id" id="delete_id">

                    <h4>Delete this meal?</h4>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--#############################################################################################################-->

<div class="container">
    <div class="card">
        <div class="card-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mealaddmodal">
                ADD MEAL
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profileModal" >
                USER PROFILE
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#readme" >
                READ ME
            </button>
        </div>
        <div class="card border">
            <div class="card-body pb-0">
                <form th:action="@{/filter}" method="get">
                    <label>From date:</label>
                    <input type="date" name="startDate"/>
                    <label>To date:</label>
                    <input type="date" name="endDate"/>
                    <label>From time:</label>
                    <input type="time" name="startTime"/>
                    <label>To time:</label>
                    <input type="time" name="endTime"/>
                    <input type="submit" value="Filter"/>
                </form>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped" id="datatable">
                <thead>
                <tr>
                    <th> Id</th>
                    <th> Date/Time</th>
                    <th> Description</th>
                    <th> Calories</th>
                    <th> Edit</th>
                    <th> Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${meals.empty}">
                    <td colspan="2"> No Meals Available</td>
                </tr>
                <tr th:each="meal : ${meals}" th:style="${meal.excess ? 'color: green;' : 'color: red;'}">
                    <td><span th:text="${meal.id}"></span></td>
                    <td><span th:text="${#temporals.format(meal.localDateTime, 'MMM-dd-yyyy hh:mm a', 'en')}"></span>
                    </td>
                    <td style="display:none;"><span th:text="${meal.localDateTime}"></span></td>
                    <td><span th:text="${meal.description}"></span></td>
                    <td><span th:text="${meal.calories}"></span></td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm edit-btn">Edit</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-dark btn-sm deletebtn">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>

<script>

    $(document).ready(function () {
        $('.profilebtn').on('click', function () {
            $('#profileModal').modal('show');

            $tr = $(this).closest('tr');

            var data = $tr.children("td").map(function () {
                return $(this).text();
            }).get();

            console.log(data);

            $('#dailyCalorieLimit').val(data[5]);
            $('#localDateTime').val(data[0]);

        });
    });

</script>

<script>

    $(document).ready(function () {
        $('.edit-btn').on('click', function () {
            $('#editmodal').modal('show');

            $tr = $(this).closest('tr');

            var data = $tr.children("td").map(function () {
                return $(this).text();
            }).get();

            console.log(data);

            $('#update_id').val(data[0]);
            $('#localDateTime').val(data[2]);
            $('#description').val(data[3]);
            $('#calories').val(data[4]);
        });
    });

</script>

<script>

    $(document).ready(function () {
        $('.deletebtn').on('click', function () {
            $('#deletemodal').modal('show');

            $tr = $(this).closest('tr');

            var data = $tr.children("td").map(function () {
                return $(this).text();
            }).get();

            console.log(data);

            $('#delete_id').val(data[0]);
        });
    });

</script>
<script>
    $(function() {


        $("#creationValidation").validate({
            rules: {
                localDateTime: {
                    required: true
                },
                description: {
                    required: true,
                    minlength: 2,
                    maxlength: 120
                },
                calories: {
                    required: true,
                    min: 10,
                    max: 5000,
                    number: true
                },
                action: "required"

            }
        });
    });
</script>

<script>
    $(function() {

        $("#editValidForm").validate({
            rules: {
                localDateTime: {
                    required: true
                },
                description: {
                    required: true,
                    minlength: 2,
                    maxlength: 120
                },
                calories: {
                    required: true,
                    min: 10,
                    max: 5000,
                    number: true
                },
                action: "required"

            }
        });
    });
</script>

<script>
    $(function() {


        $("#userValidation").validate({
            rules: {
                dailyCalorieLimit: {
                    required: true,
                    number: true,
                    min:1,
                    max:10000
                },
                action: "required"

            }
        });
    });
</script>

</body>
</html>